<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
<h1>Dodaj nową kategorię</h1>

<form th:action="@{/category}" method="post" th:object="${category}">
    <div class="form-group">
        <label>Nazwa kategorii</label>
        <input type="text" class="form-control" th:field="*{name}"  placeholder="Podaj nazwę kategorii">
    </div>

    <button type="submit" class="btn btn-primary">Wyślij</button>
</form>

</div>

</body>
</html>